
  .circles-container{
    display: flex; /*using flex */
    justify-content:space-around;
    align-items: center;
    background-color: #ffffff;
    height: 200px;
    position: relative;
    gap: 10px;
  }
  .box, .box2, .box3 { /* Common styles for all boxes */
    height: 200px;
    width: 500px;
    background-color: #ec5e89;
    z-index: 1; /*makes the boxes go under the circles*/
    position: relative;
}

    .circle {
        border-radius: 50%;
        position: absolute;
        z-index: 2;
      }
      
      .circle.yellow.small {
        width: 80px;
        height: 80px;
        background-color: #f8de7e;
        top: 60px; /* Adjusts the vertical position to overlap the box */
        left: 100px; /* Adjusts the horizontal position */
      }
      
      .circle.blue.large {
        border-bottom: 100px solid#d0aafe;
        bottom: 0;
        left: 70%;
      }
      .circle.yellow.middle {
        border-bottom: 100px solid #f8de7e;
        bottom: 0;
        left: 90%;
      }

  
    .middle-container {
        margin-top: 10px;
        display: flex; /*using flex for this one because its gonna be two triangles next to each other*/
        justify-content:space-around;
        align-items: flex-end;
        background-color: #4da6a6;
        height: 400px;
        position: relative;
      }
      
      .triangle {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        position: absolute;
      }
      
      .triangle.purple.small {
        border-bottom: 150px solid #d0aafe;
        bottom: 0;
        left: 50%;
      }
      
      .triangle.purple.large {
        border-bottom: 100px solid#d0aafe;
        bottom: 0;
        left: 70%;
      }
      .triangle.orange.middle {
        border-bottom: 100px solid #f8de7e;
        bottom: 0;
        left: 90%;
      }
      
      