.gallery-container{
    width: 1200px; /* Fixed width */
    margin: 0 auto; /* Centers the layout horizontally */
    background-color: #f4f4f4;
    padding: 20px;
}

  .circles-container{
    display: flex; /*using flex */
    justify-content:space-around;
    align-items: center;
    background-color: #ffffff;
    height: 200px;
    position: relative;
    gap: 10px;
  }
  .box, .box2, .box3 { /* Common styles for all boxes */
    height: 200px;
    width: 500px;
    background-color: #ec5e89;
    z-index: 1; /*makes the boxes go under the circles*/
    position: relative;
}

    .circle {
        border-radius: 50%;
        position: absolute;
        z-index: 2; /*makes circles go above the boxes*/
      }
      
      .circle.yellow.small {
        width: 80px;
        height: 80px;
        background-color: #f8de7e;
        top: 60px; /* Adjusts the vertical position to overlap the box */
        left: 100px; /* Adjusts the horizontal position */
      }
      
      .circle.blue.large {
        width: 200px;
        height: 200px;
        background-color:aqua;
        top: 150px; /* Adjusts the vertical position to overlap the box */
        left: 200px; /* Adjusts the horizontal position */
      }
      .circle.yellow.middle {
        width: 100px;
        height: 100px;
        background-color:#f8de7e;
        top: 30px; /* Adjusts the vertical position to overlap the box */
        right: 200px; /* Adjusts the horizontal position */
      }

  
    .middle-container {
        margin-top: 10px;
        display: flex; /*using flex for this one because its gonna be two triangles next to each other*/
        justify-content:space-around;
        align-items: flex-end;
        background-color: #4da6a6;
        height: 400px;
        position: relative;
        z-index: 1;
      }

      .triangle {
        width: 0;
        height: 0;
        z-index: 2; /* Ensure the triangle is on top of the background */
        position: absolute; /*need this to move triangles around the container*/
}
      .triangle.orange.small {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 200px solid #fca644; 
        Right: 50px; /* Center horizontally */
}
      .triangle.purple.large {
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 400px solid #d0aafe; 
        Right: 400px; /* Center horizontally */
      }
      .triangle.orange.middle {
        border-left: 80px solid transparent;
        border-right: 80px solid transparent;
        border-bottom: 350px solid #fca644; 
        Left: 470px; /* Center horizontally */
      }
      
      /* People icons */
      .middle-container .person-image{ /*Hierarchical selector*/ 
        z-index:2;
        position: relative;
        height: auto;
        top:43px;
        right: 300px;
      }